{% extends 'base.html' %}

{% block pageheading %}
menu
{% endblock %}

{% block main %}

    <table>
        <tr>
            <th class = "product-box-heading"> Coffee </th>
            <th class = "product-box-image"> Picture </th>
            <th class = "product-box-info"> Info </th>
        </tr>

        <tr>
            <td class = "product-box-heading">
                <h3>Aeropress</h3>
            </td>
            <td class = "product-box-image">
                <img src="static/images/aeropress.jpg">
            </td>
            <td class = "product-box-info">
                <p>a coffee</p>
            </td>
        </tr>

        <tr>
            <td class = "product-box-heading">
                <h3>Chemex</h3>
            </td>
            <td class = "product-box-image">
                <img src="static/images/chemex.jpg">
            </td>
            <td class = "product-box-info">
                <p>a coffee</p>
            </td>
        </tr>


    </table>

{% endblock %}